node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# Android
android/app/build/
android/.gradle/
android/local.properties

# iOS
ios/build/
ios/Pods/
ios/.xcode.env.local

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
