# Buildozer
.buildozer/
bin/
build.log

# Data peta (izinkan .graph untuk dipaketkan ke APK)
data/
!data/*.graph
*.osm.pbf
*.pkl
*.graphml

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db
